/* media queries */

@media screen and (max-width: 450px) {
    .container {
	margin: 0 auto;
	max-width: 360px;
    }
}

@media screen and (min-width: 800px){
    .container {
	box-shadow: 0 5px 3px 5px rgba(0, 0, 0, 0.1);
	width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
	border-radius: 10px;
    }

    .individual-app {
	width: 33.3333%;
    }
}

/* element selectors */

html {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body {
    font-family: "Bangers", cursive;
    margin: 0;
}

figure, p {
    margin: 0;
    width: 100%;
}

section {
    padding-top: 10px;
}

/* class selectors */

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

img, embed,
object, video {
	max-width: 100%;
}

.img-circle {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: auto;
}

/* generic column classes */

.col-1 {
       width: 8.33333%;
}

.col-2 {
       width: 16.66666%;
}

.col-3 {
       width: 25%;
}

.col-4 {
       width: 33.333333%;
}

.col-5 {
       width: 41.666666%;
}

.col-6 {
       width: 50%;
}
.col-7 {
       width: 58.3333333%;
}

.col-8 {
       width: 66.6666666%;
}

.col-9 {
       width: 75%;
}

.col-10 {
       width: 83.33333%
}

.col-11 {
       width: 91.66666%
}

.col-12 {
       width: 100%;
}

.logo {
    margin-top: 20px;
    width: 200px;
    margin-left: 20px;
}

.name-title {
    color: #2d3c49;
}

.owner-name {
    font-size: 3em;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.job-name {
   padding: 5px;
   font-size: 1.5em;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   text-transform: uppercase;
}

.style {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px #7d97ad;
}

.text-for-apps {
    font-size: 2em;
    color: #7d97ad;
}

.row-of-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.individual-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2d3c49;
    padding-bottom: 10px;
}

.app-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1em;
    margin: 0;
    padding-top: 5px;
    font-size: 2em;
}

.link-text {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.right-align-footer {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    padding: 1em 1em 0 0;
}
